/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "./tailwind.css";

body {
    background-color: #0f0715;
    color: white;
    margin: 0;
    padding: 0;
}

.nav-main {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.nav-main h1 {
    padding-left: 10px;
}

.nav-logo {
    width: 50px;
}

@media only screen and (max-width: 450px) {
    .nav-main h1 {
        display: none;
    }
}

@media only screen and (max-width: 780px) {
    .nav-main {
        justify-content: start;
    }
    .nav-items {
        display: none;
    }
} 